images/
pics/
*.ipynb_checkpoints/
.DS_Store

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.brf
*.nav
*.snm
*.vrb
*.xdv
*.ilg
*.ind
*.idx
*.ent
*.glg
*.glo
*.gls
*.ist
*.lol
*.acn
*.acr
*.alg
*.synctex.gz

# Excalidraw files
excalidraw/
__pycache__/